@page "/"

<h1>Alexander Gherardi</h1>
<h2>I’m an incoming student of <br />
    computer science at New York's <br />
    Univerisity at Buffalo</h2>
<a href="https://github.com/AJGherardi">/Github</a>